<h1>Users</h2>
<hr class="colorgraph">
<p><%= link_to "Create new user", new_user_path, class: "btn btn-default" %></p>

<table class="table">
	<tr>
		<td>Email</td>
		<td>Admin?</td>
		<td>Joined</td>
		<td>Delete account</td>
	</tr>	
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.admin %></td>
			<td><%= time_ago_in_words user.created_at %> ago</td>
			<td><%= button_to "Delete account", user, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>
		</tr>
	<% end %>	
</table>	