<section id="home">
	<div class="container">
		<center>
			<h1>Wilde Media Inc.</h1>
			<%= link_to "Action", "#", class: "default" %>
		</center>	
	</div>	
</section>

<section id="services">
	<div class="container">
		<%= render "pages/services" %>
	</div>	
</section>

<section id="services-dropdown">
	<%= render "pages/services/gallery" %>
</section>	

<section id="about">
	<div class="container">
		<center>
			<h1>About us</h1>
			<p>Aliquam sed felis sit amet dui accumsan dictum ut egestas justo. Nulla vulputate ante velit, sit amet egestas velit elementum at.</p>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce a placerat turpis. Sed tristique consequat metus, sed egestas dolor vehicula a. Integer nec tortor sollicitudin, ornare diam id, rutrum lacus. Phasellus eget eleifend nulla. Aenean consectetur dolor id porttitor hendrerit.</p>
			<p><%= link_to "click here for social stuff", "#", class: "default page-header" %></p>
		</center>	
	</div>	
</section>

<section id="contact">
	<div class="container">
		<%= render "enquiries/form" %>
	</div><br><br>
</section>	