<div class="row" style="margin-top:20px">
	<div class="col-xs-12 col-sm-6 col-md-6">
		<h2>Don't like forms?</h2>
		<hr class="colorgraph">
		<p class="lead"><i class="fa fa-phone green"></i> +1 (647) 400 7474</p>
		<p class="lead"><i class="fa fa-envelope-o"></i> <%= link_to "esther@wmm.com", "mailto:esther@wmm.com" %></p>
		<p class="lead"><i class="fa fa-comment"></i> Social</p><hr>
		<p class="lead">
			<i class="fa fa-twitter-square"></i>
			<i class="fa fa-instagram"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-linkedin-square"></i>
			<i class="fa fa-google-plus-square"></i>
		</p>	
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-6">
		<%= form_for Enquiry.new, remote: true do |f| %>
			<% if Enquiry.new.errors.any? %>
				<div id="error_explanation">
		  			<h2><%= pluralize(Enquiry.new.errors.count, "error") %> prohibited this post from being saved:</h2>
		  			<ul>
			  			<% Enquiry.new.errors.full_messages.each do |msg| %>
			    			<li><%= msg %></li>
			  			<% end %>
			  		</ul>
				</div>
			<% end %>
		
			<fieldset>
				<h2>Call us maybe</h2>
				<hr class="colorgraph">
				
				<section id="fields">
					<div class="form-group">
		            	<%= f.text_field :name, placeholder: "Name", class: "form-control input-lg" %>
					</div>
			
					<div class="form-group">
		            	<%= f.text_field :email, placeholder: "email", class: "form-control input-lg" %>
					</div>
			
					<div class="form-group">
		            	<%= f.text_area :message, placeholder: "Message", class: "form-control input-lg" %>
					</div>
				</section>	
			
				<hr class="colorgraph">
			
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<%= f.submit "Send Message", class: "btn btn-default btn-lg btn-block" %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>