<!DOCTYPE html>
<html>
	<head>
		<%= render template: "layouts/head" %>
	</head>
	<body>
		<div id="wrap">
			<%= render template: "layouts/navbar" %>
			<%= render partial: "shared/errors" %>
			<%= yield %>
			<div id="footer-push"></div>
		</div>
		<%= render template: "layouts/footer" %>
	</body>
</html>
